<?xml version="1.0"?>
<!--
/*
* @category    Module
* @package     MageStack_Varnish
* @copyright   Copyright (c) 2016 Sonassi
*/
-->
<config>
    <modules>
        <MageStack_Varnish>
            <version>1.2.0</version>
        </MageStack_Varnish>
    </modules>
    <frontend>
        <routers>
            <magestack.varnish>
                <use>standard</use>
                <args>
                    <module>MageStack_Varnish</module>
                    <frontName>varnish</frontName>
                </args>
            </magestack.varnish>
        </routers>
        <layout>
            <updates>
                <magestack.varnish>
                    <file>varnish.xml</file>
                </magestack.varnish>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <magestack.varnish>
                <class>MageStack_Varnish_Block</class>
            </magestack.varnish>
        </blocks>
        <models>
            <magestack.varnish>
                <class>MageStack_Varnish_Model</class>
            </magestack.varnish>
            <magestackvarnish>
                <class>MageStack_Varnish_Model</class>
            </magestackvarnish>
        </models>
        <helpers>
            <magestack.varnish>
                <class>MageStack_Varnish_Helper</class>
            </magestack.varnish>
        </helpers>
        <cache>
            <types>
                <magestack.varnish translate="label,description">
                    <label>Varnish</label>
                    <description>Full page cache in Varnish</description>
                    <tags></tags>
                </magestack.varnish>
            </types>
        </cache>
        <events>
            <http_response_send_before>
                <observers>
                    <magestack.varnish>
                        <type>singleton</type>
                        <class>magestack.varnish/observer</class>
                        <method>varnish</method>
                    </magestack.varnish>
                </observers>
            </http_response_send_before>
            <application_clean_cache>
                <observers>
                    <magestack.varnish>
                        <type>singleton</type>
                        <class>magestack.varnish/observer</class>
                        <method>purgeCache</method>
                    </magestack.varnish>
                </observers>
            </application_clean_cache>
            <catalog_category_save_commit_after>
                <observers>
                    <magestack.varnish>
                        <type>singleton</type>
                        <class>magestack.varnish/observer</class>
                        <method>onCategorySave</method>
                    </magestack.varnish>
                </observers>
            </catalog_category_save_commit_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magestack.varnish before="Mage_Adminhtml">MageStack_Varnish</magestack.varnish>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <magestack.varnish>
                            <title>Varnish</title>
                            <sort_order>10</sort_order>
                        </magestack.varnish>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magestack.varnish>
                                            <title>Varnish Options</title>
                                        </magestack.varnish>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <crontab>
        <jobs>
            <magestack.varnish>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>magestackvarnish/observer::cronBatchPurge</model>
                </run>
            </magestack.varnish>
        </jobs>
    </crontab>

    <default>
        <magestack.varnish>
            <options>
                <servers>http://lb1.i</servers>
            </options>
        </magestack.varnish>
    </default>
</config>
